/* CSS style reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Colors */

:root {
  --66E2DC: rgb(102, 226, 220);
  --FA7453: rgb(250, 116, 83);
  --FFB964: rgb(255, 185, 100);
  --FCFAF9: rgb(252, 250, 249);
  --191826: rgb(25, 24, 38);
}

/* Main styles */

body {
  font-family: "IBM Plex Sans", Verdana;
  display: flex;
  justify-content: center;
  background-image: url(../assets/bg-main-mobile.png);
  background-repeat: no-repeat;
}

/* Header */

.main-container {
  max-width: 375px;
}

.main-header {
  padding: 40px 205px 0 24px;
  margin-bottom: 64px;
}

.main-logo {
  width: 146px;
  height: 32px;
}

/* Article */

.article-container {
  padding: 0 24px;
  margin-bottom: 166px;
}

.article-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.454545px;
  color: var(--191826);
  margin-bottom: 20px;
}

.article-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--191826);
}

/* Application and card */

.app-container {
  width: 209px;
  height: 430px;
  margin-left: 81px;
  margin-top: 524px;
  position: absolute;
  top: 0;
}

.app-container img {
  max-width: 100%;
}

.background-container {
  background-color: var(--191826);
  background-image: url(../assets/bg-pattern-1.svg);
  background-repeat: no-repeat;
  background-position: center, top;
  border-radius: 12px;
  max-width: 375px;
  height: 600px;
  margin-bottom: 390px;
}

.card-container {
  max-width: 375px;
  height: 546px;
  background-color: var(--FA7453);
  border-radius: 12px;
  padding: 48px 37px;
  position: absolute;
  top: 0;
  margin-top: 1002px;
}

.card-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: var(--FCFAF9);
  margin-bottom: 12px;
}

.card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--FCFAF9);
  margin-bottom: 36px;
}

.price-container {
  display: flex;
  margin-bottom: 32px;
}

.price-container p:nth-child(2) {
  align-self: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: var(--FCFAF9);
}

.price-text {
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;
  color: var(--FCFAF9);
  margin-right: 16px;
}

.ios-btn {
  display: block;
  border: none;
  border-radius: 12px;
  background-color: var(--191826);
  width: 296px;
  height: 61px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.18px;
  color: var(--FCFAF9);
  margin-bottom: 16px;
  margin-left: 5px;
}

.ios-btn:hover {
  background-color: var(--66E2DC);
  cursor: pointer;
}

.android-btn {
  display: block;
  border: none;
  border-radius: 12px;
  background-color: var(--FCFAF9);
  width: 296px;
  height: 61px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.18px;
  color: var(--191826);
  margin-left: 5px;
}

.android-btn:hover {
  background-color: var(--FFB964);
  cursor: pointer;
}

/* Footer */

.main-footer {
  padding: 0 24px 82px 24px;
}

.footer-logo {
  margin-bottom: 32px;
}

.footer-article__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--191826);
}

.footer-article span {
  font-style: normal;
  font-weight: bold;
  margin-bottom: 64px;
}

.social-list {
  list-style: none;
  display: flex;
  color: var(--191826);
  font-size: 22px;
}

.social-list__item:hover {
  color: var(--FA7453);
  cursor: pointer;
}

.item-1,
.item-2 {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../assets/bg-main-tablet.png);
  }

  .main-container {
    max-width: 768px;
    background-image: url(../assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: top -32px right -36px;
    background-size: 266px 400px;
  }

  .main-header {
    padding: 62px 583px 0 40px;
    margin-bottom: 64px;
  }

  .article-container {
    padding: 0 209px 0 40px;
  }

  .article-heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.727273px;
  }

  .article-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }

  .app-container {
    width: 270px;
    height: 556px;
    margin-left: 97px;
    margin-top: 632px;
    position: absolute;
    top: 0;
  }

  .background-container {
    background-position: center;
    border-radius: 12px;
    max-width: 696px;
    margin-bottom: 100px;
    margin: 249px 39px 0 33px;
  }

  .card-container {
    max-width: 399px;
    height: 546px;
    margin-top: 920px;
    margin-left: 272px;
  }

  .main-footer {
    margin-top: 183px;
    display: flex;
    flex-direction: column;
    padding: 0 39px 85px 34px;
  }

  .main-footer div {
    display: flex;
    align-items: center;
  }

  .footer-article span {
    margin-bottom: 0px;
  }

  .footer-article__text {
    margin-right: 230px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url(../assets/bg-main-desktop.png);
  }

  .main-container {
    max-width: 1440px;
    background-image: url(../assets/bg-pattern-1.svg);
    background-position: top -40px right 0px;
    background-size: 312px 468px;
  }

  .main-header {
    padding: 62px 1128px 0 166px;
    margin-bottom: 64px;
  }

  .article-container {
    padding: 0 260px 0 165px;
  }

  .article-heading {
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
  }

  .article-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-right: 190px;
  }

  .app-container {
    width: 312px;
    height: 642px;
    margin-left: 97px;
    margin-top: 647px;
    position: absolute;
    top: 0;
  }

  .background-container {
    max-width: 1110px;
    margin-bottom: 100px;
    margin: 341px 165px 0 165px;
  }

  .card-container {
    width: 446px;
    height: 625px;
    margin-top: 950px;
    margin-left: 570px;
    padding: 58px 59px 48px 54px;
  }

  .ios-btn {
    margin-left: 0;
  }

  .android-btn {
    margin-left: 0;
  }

  .main-footer {
    margin-top: 262px;
    display: flex;
    flex-direction: row;
    padding: 0 165px 91px 165px;
  }

  .main-footer div {
    display: flex;
    align-items: center;
    margin-left: 138px;
  }

  .footer-article span {
    margin-bottom: 0px;
  }

  .footer-article__text {
    margin-right: 359px;
  }
}
